/*------------------------------------------NIVEL 1---------------------------------*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>NIVEL 2<<<<<<<<<<<<<<<<<<<<<<<*/
/*==============Nivel 3=================*/

/*--------------------------------ESTILOS GENERALES---------------------------------*/
:root {
  /*>>>>>>>>>>>>>>>>>>>>>>>COLORES<<<<<<<<<<<<<<<<<<<<<<<<*/

  /*Los colores empiezan como la lógica hexadecimal: los oscuros estan cercanos al 0*/

  /*===========neutros===============*/
  --negro: #000;
  --gris1: #666;
  --gris2: #92a1a3;
  --gris3: #afc3c1;
  --gris4: #efefef;

  /*===========Interface===============*/
  --interface0: #007771;
  --interface1: #438e8a;
  --interface2: #92a1a3;
  --interface3: #afc3c1;
  --interface4: #d3ebe9;
  --interface5: #def7f5;
  --interfacesp: #009d92;

  /*===========Por tema===============*/
  --lexicons0: #72447b;
  --lexicons1: #ab66b7;
  --lexicons2: #e2c3e8;

  --library0: #af5e00;
  --library1: #f48d27;
  --library2: #edb418;

  --audios0: #007983;
  --audios1: #00b5c4;
  --audios2: #d5f9fc;

  --flora0: #527228;
  --flora1: #729f36;
  --flora2: #c9e6a1;

  --videos0: #ac2864;
  --videos1: #da3279;
  --videos2: #ff9dc6;

  /*===========Por Grupo de lengua===============*/
  --amuzgo0: #353584;
  --amuzgo1: #2152d6;
  --amuzgo2: #11a7f7;

  --nahuatl0: #c6932a;
  --nahuatl1: #e8ba53;
  --nahuatl2: #e5ce6d;

  --maya0: #007983;
  --maya1: #00b5c4;
  --maya2: #d5f9fc;

  --mixteco0: #b43523;
  --mixteco1: #ff5137;
  --mixteco2: #ffaa9d;

  --totonaco0: #72447b;
  --totonaco1: #ab66b7;
  --totonaco2: #e2c3e8;

  --triqui0: #ac2864;
  --triqui1: #da3279;
  --triqui2: #ff9dc6;

  /*===========Estaticas===============*/
  --about: #729f36;
  --help: #72447b;
  --credits: #353584;
  --terms: #da3279;
  /*===========Dropdowns===============*/
  --dr-tp-busq0: #ac2864;
  --dr-tp-busq1: #da3279;
  --dr-tp-busq2: #ff9dc6;

  --dr-par-pal0: #007983;
  --dr-par-pal1: #00b5c4;
  --dr-par-pal2: #d5f9fc;

  --dr-fil-mas0: #72447b;
  --dr-fil-mas1: #ab66b7;
  --dr-fil-mas2: #e2c3e8;

  /*>>>>>>>>>>>>>>>>>>>>>>>ESTILOS ELEMENENTALES<<<<<<<<<<<<<<<<<<<<<<<<*/
  /*DEFINEN LOS REM (TAMAÑO RELATIVO DE TEXTO), LA FAMILIA TIPOGRAFICA*/
  font-size: 18px; /*tamaño define los rem*/

  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: 3px solid #009d9375;
}
/*>>>>>>>>>>>>>>>>>>>>>>>DIMENSIONES DE PÁGINA<<<<<<<<<<<<<<<<<<<<<<<<*/
body {
  min-width: 55rem; /*990px*/
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  position: relative; /*Esto controla que el footer se pegue hasta abajo*/
}
/*================================Columnaje de 12================================-*/
.contenedor-columnas {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.contenedor-columnas:first-child {
  margin-left: 0 !important;
}
.contenedor-1-col:first-of-type,
.contenedor-2-col:first-of-type,
.contenedor-3-col:first-of-type,
.contenedor-4-col:first-of-type,
.contenedor-5-col:first-of-type,
.contenedor-6-col:first-of-type,
.contenedor-7-col:first-of-type,
.contenedor-8-col:first-of-type,
.contenedor-9-col:first-of-type,
.contenedor-10-col:first-of-type,
.contenedor-11-col:first-of-type,
.contenedor-12-col:first-of-type {
  margin-left: 0 !important;
}
.contenedor-1-col {
  flex-basis: calc(calc(100% - 11rem) / 12); /*11 rem son los medianiles*/
  margin-left: 1rem;
  padding: 0 0.5rem;
}

.contenedor-2-col {
  flex-basis: calc(calc(calc(100% - 5rem) / 12) * 2);
  margin-left: 1rem;
  padding: 0 1rem;
}
.contenedor-3-col {
  flex-basis: calc(calc(calc(100% - 3rem) / 12) * 3);
  margin-left: 1rem;
  padding: 0 1rem;
}
.contenedor-4-col {
  flex-basis: calc(calc(calc(100% - 2rem) / 12) * 4);
  margin-left: 1rem;
  padding: 0 1rem;
}
.contenedor-5-col {
  flex-basis: calc(calc(calc(100% / 12) * 5) - 0.582rem);
  margin-left: 1rem;
  padding: 0 1rem;
}
.contenedor-6-col {
  flex-basis: calc(calc(100% - 1rem) / 2);
  margin-left: 1rem;
  padding: 0 1rem;
}
.contenedor-7-col {
  flex-basis: calc(calc(calc(100% / 12) * 7) - 0.47rem);
  margin-left: 1rem;
  padding: 0 1rem;
}
.contenedor-8-col {
  flex-basis: calc(calc(calc(100% / 12) * 8) - 0.36rem);
  margin-left: 1rem;
  padding: 0 1rem;
}
.contenedor-9-col {
  flex-basis: calc(calc(calc(100% / 12) * 9) - 0.25rem);
  margin-left: 1rem;
  padding: 0 1rem;
}
.contenedor-10-col {
  flex-basis: calc(calc(calc(100% / 12) * 10) - 0.168rem);
  margin-left: 1rem;
  padding: 0 1rem;
}
.contenedor-11-col {
  flex-basis: calc(calc(calc(100% / 12) * 11) - 0.12rem);
  margin-left: 1rem;
  padding: 0 1rem;
}
.contenedor-12-col {
  flex-basis: 100%;
  padding: 0 1rem;
}
.m-top-1rem {
  margin-top: 1rem;
}
.m-top-2rem {
  margin-top: 2rem;
}
.m-top-3rem {
  margin-top: 3rem;
}
/*================================MAIN================================-*/

main {
  min-height: calc(100vh - 8.4rem + 1px); /*25rem; /*432px*/
  width: 100%;
}

.contenedor-general {
  /* min-height: 33rem; */
  max-width: 1020px;
  margin: 0px auto;
  padding: 0 1rem;
}

.contenedor-general-rebasado {
  /* min-height: 33rem; */
  padding: 0;
  margin: 0;
}

/*>>>>>>>>>>>>>>>>>>>>>>>ICONOS<<<<<<<<<<<<<<<<<<<<<<<<*/

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  /*font-size: 24px; /* Preferred icon size */
  display: inline-block;
  /*line-height: 1;*/
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
.material-icons-outlined {
  font-family: "Material Icons outlined";
  font-weight: normal;
  font-style: normal;
  /*font-size: 24px; /* Preferred icon size */
  display: inline-block;
  /*line-height: 1;*/
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
/*>>>>>>>>>>>>>>>>>>>>>>>CLASES PARA IDENTIFICAR ELEMENTOS<<<<<<<<<<<<<<<<<<<<<<<<*/

.e1 {
  border: red 1px solid;
}
.e2 {
  border: blueviolet 1px dashed;
}
.e3 {
  border: 1px dotted olivedrab;
}

/*>>>>>>>>>>>>>>>>>>>>>>>TIPOGRAFÍA<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans Condensed", sans-serif !important;
}
h1:first-of-type,
h2:first-of-type,
h3:first-of-type,
h4:first-of-type,
h5:first-of-type,
h6:first-of-type {
  margin-top: 1rem;
}

h1 {
  font-size: 2.556rem; /*46 px*/
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem; /*36 px*/
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem; /*27 px*/
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem; /*18 px*/
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h4.instrucciones {
  color: var(--gris3);
  font-weight: 400;
}

h5 {
  font-size: 0.8rem; /*14.4 px*/
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0.7777rem;
}

h6 {
  font-size: 0.6666rem; /*12 px*/
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0.6666rem;
}

p.large {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.2222rem; /*22 px*/
  margin-top: 0;
  margin-bottom: 1.2222rem;
  line-height: 140%;
}

p {
  font-family: "Fira Sans", sans-serif;
  font-size: 0.955rem; /*17.19 px*/
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--gris1);
  font-weight: 400;
}

p.small {
  font-family: "Fira Sans", sans-serif;
  font-size: 0.7777rem; /*14 px*/
  line-height: 160%;
  margin-top: 0;
  margin-bottom: 0.7777rem;
}
p.smallest {
  font-family: "Fira Sans", sans-serif;
  font-size: 0.6666rem; /*12 px*/
  line-height: 160%;
  margin-top: 0;
  margin-bottom: 0.6666rem;
}

p > a {
  color: var(--interfacesp) !important;
  font-weight: 400;
}
p > a:hover {
  color: var(--interface0) !important;
  font-weight: 600;
  text-decoration-color: var(--interface1) !important;
}
a {
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a:visited {
  color: currentColor;
}
/* Breadcumbs */

div.contenedor-breadcums {
  text-align: right;
  margin-bottom: 1.3rem;
}
div.contenedor-breadcums * {
  font-size: 0.6666rem;
  text-align: right;
  display: inline;
}

p.breadcums {
  margin: 0 0.1111rem;
}

a.breadcums-activo {
  font-weight: 600;
}
i,
em {
  font-style: italic;
}
b,
strong {
  font-weight: bolder;
}
figcaption {
  font-family: "Fira Sans", sans-serif;
  font-size: 0.6666rem; /*12 px*/
  line-height: 110%;
  text-align: right;
  color: var(--gris1);
  margin-top: 0;
  margin-bottom: 0rem;
}

.blanco {
  /*para hacer elementos tipograficos de color blanco*/
  color: white;
}

/* Inputs -- Creo que no funciona el font-family-- */
input {
  font-family: "Fira Sans", sans-serif;
  letter-spacing: 0.5px;
}
select {
  font-family: "Fira Sans", sans-serif;
  letter-spacing: 0.5px;
}
option {
  font-family: "Fira Sans", sans-serif;
  letter-spacing: 0.5px;
}
input[type="search"] {
  background-color: transparent;
  -webkit-appearance: textfield; /* hace que la apariencia en safari sea como campo de texto*/
  -moz-appearance: searchfield; /* hace que la apariencia en safari sea como campo de busqueda*/
  appearance: searchfield; /* hace que la apariencia en safari sea como campo de busqueda*/
}
/* label {
  font-family: "Fira Sans", sans-serif;
  font-size: 0.7777rem;

  font-weight: 400;
  color: var(--interface2);
} */
input[type="checkbox"]:checked + label {
  font-weight: 500;
  color: var(--negro);
}

/*CHECKBOXES PERSONALIZADOS*/
/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
/* Estructura checkbox--------*/
/*<label class="contenedor-checkbox-custom e2">
                <input type="checkbox">
                <span class="cuadro-check"></span>
                <span class="etiqueta-checkbox">Only display inputs with sound</span>
              </label> */
/* Customize the label (the contenedor-checkbox-custom) */
.contenedor-checkbox-custom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem !important; /* para evadir el cuadro de seleccion*/
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* height: calc(1.2222rem * 2); */
  margin: 0;
}

/* Hide the browser's default checkbox */
.contenedor-checkbox-custom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin: 0 !important;
}

/* Create a custom checkbox */
.cuadro-check {
  /* position: absolute;
  top: 0.55rem; */
  /* top: 0.1667rem; */
  /* left: 0; */
  height: 0.8888rem;
  width: 0.8888rem;
  border: 1.5px solid var(--interface1);
}

/* On mouse-over, add a grey background color */
.contenedor-checkbox-custom:hover input ~ .cuadro-check {
  background-color: var(--interface4);
}

/* When the checkbox is checked, add a blue background */
.contenedor-checkbox-custom input:checked ~ .cuadro-check {
  background-color: var(--interface0);
}

/* Create the cuadro-check/indicator (hidden when not checked) */
.cuadro-check:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the cuadro-check when checked */
.contenedor-checkbox-custom input:checked ~ .cuadro-check:after {
  display: block;
}

/* Style the cuadro-check/indicator */
/* .contenedor-checkbox-custom .cuadro-check:after {
  /* left: 3px;
  top: -1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); 
} */
.etiqueta-checkbox {
  font-family: "Fira Sans", sans-serif;
  font-size: 0.7777rem;
  line-height: 100%;
  font-weight: 400;
  color: var(--gris1);
  display: block;
  margin-left: 0.3rem;
}
.etiqueta-checkbox:hover {
  color: var(--interface0);
}
input:checked ~ .cuadro-check ~ .etiqueta-checkbox {
  font-weight: 600 !important;
  color: var(--negro) !important;
}

/* BOTONES GENERAL */
button {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  padding: 0.5rem 0.75rem;
  background-color: var(--interface1);
  border: none;
  margin: 0 0.5rem;
}

button:last-of-type {
  margin-right: 0;
}
button:first-of-type {
  margin-left: 0;
}
button:hover {
  background-color: var(--interface0);
}
button:active {
  background-color: var(--interfacesp);
}

button.btn-secundario {
  padding: calc(0.5rem - 2px) calc(0.75rem - 2px); /* compensa la linea exterior con el tamano del boton*/
  background-color: white;
  color: var(--interface1);
  border: 2px solid var(--interface1);
}

button.btn-secundario:hover {
  border: 2px solid var(--interface0);
  color: white;
  background-color: var(--interface0);
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>Botones de paginacion<<<<<<<<<<<<<<<<<<<<<<<*/
.contenedor-paginacion {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 4rem;
}
.contenedor-paginacion-por-pagina {
  margin-right: 2rem;
}
button.btn-pagina-anterior,
button.btn-pagina-siguiente {
  width: 1.5rem !important;
  height: 1.5rem !important;
  display: inline-block;
  padding: 0 !important;
  margin: 0rem 0.05rem !important;
  border: 2px solid var(--interface1);
  overflow: hidden;
  vertical-align: bottom; /*Compensa una alineacion de elementos no deseada*/
}

button.btn-pagina-anterior:hover,
button.btn-pagina-siguiente:hover {
  border: 1px solid var(--interface0);
}
.icono-de-boton-paginacion {
  font-weight: 800;
  font-style: normal;
  font-size: 0.8rem;
  line-height: 0px !important;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  margin: 0 !important;
  padding: 0 !important;
}
button.btn-pagina {
  min-width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  padding: calc(0.4rem - 2px) 0.4rem !important;
  background: white !important;
  color: var(--negro);
  font-size: 0.7rem;
  line-height: 100%;
  font-weight: 400 !important;
  text-align: center;
  margin: 0rem 0.05rem !important;
  border: 2px solid white;
}
button.btn-pagina:hover {
  color: var(--interface0) !important;
  text-decoration: underline !important;
}
button.btn-pagina-activa {
  border: 2px solid var(--interfacesp);
  cursor: not-allowed;
  font-weight: 600 !important;
  color: var(--interface0) !important;
  -moz-box-shadow: inset 0 0 1.5px var(--gris1);
  -webkit-box-shadow: inset 0 0 1.5px var(--gris1);
  box-shadow: inset 0 0 1.5px var(--gris1);
}
button.btn-pagina-activa:hover {
  cursor: not-allowed;
  text-decoration: none !important;
}
button.btn-pagina-siguiente {
}
.contenedor-ir-a-pagina {
}
form.formulario-ir-a-pagina {
}
.caja-input-ir-a-pagina {
  height: 1.5rem;
  border: 1px solid var(--gris3);
  font-size: 0.7rem;
  width: 14ch;
  padding: 0 0.25rem;
}
button.btn-ir-a-pagina {
  width: 1.5rem !important;
  height: 1.5rem !important;
  display: inline-block;
  padding: 0 !important;
  margin: 0rem 0.05rem !important;
  border: 2px solid var(--interface1);
  overflow: hidden;
  vertical-align: bottom; /*Compensa una alineacion de elementos no deseada*/
}

button.btn-ir-a-pagina:hover {
  border: 2px solid var(--interface0);
}
.icono-ir-a-pagina {
}

/*PARA GLOTOCODE*/
code {
  font-family: "Fira Sans Condensed", sans-serif;
  letter-spacing: 1.5px;
  font-size: 70%;

  /* background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: darken; */
  background-color: var(--interface4);
  padding: 2px 2px;
  vertical-align: middle;
}
code:hover {
  /* background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken; */
  background-color: var(--interface5);
}

code:before {
  content: "[";
  margin: 0 1px;
  color: var(--library1);
}

code:after {
  content: "]";
  margin: 0 1px;
  color: var(--library1);
}
code a {
  color: currentColor;
}

code a:hover {
  text-decoration: underline;
  text-decoration-color: var(--library1);
}
code a:visited {
  color: currentColor;
}

/*--------------------------------HEADER---------------------------------*/
header {
  width: 100%;
  height: 3.1667rem;
  background-color: white;
  padding: 0;
  margin: 0 0 1rem 0;
  box-shadow: 0px 3px 6px #00000029;
  -webkit-box-shadow: 0px 3px 6px #00000029;
  -moz-box-shadow: 0px 3px 6px #00000029;

  /* border-bottom: 1px solid gray; */
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<MENÚ>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
nav {
  max-width: 1020px;
  height: 100%;
  margin: 0 auto;
  padding: 0 0 0 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.logo-mesolex {
  height: 2.5rem;
  width: auto;
  padding: 0;
  margin: 0.4rem 3rem 0 0rem;
}
a.menu-item {
  flex-grow: 1;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  color: #000;
  margin: 0;
  padding: 1.1111rem 1.38rem;
}
a.menu-item:hover {
  text-decoration: none;
  font-weight: 800;
  color: white;
  background-color: gray;
  letter-spacing: 1px;
}
#menu-item-1:hover {
  background-color: var(--audios0);
}
#menu-item-2:hover {
  background-color: var(--mixteco0);
}
#menu-item-3:hover {
  background-color: var(--flora0);
}
#menu-item-4:hover {
  background-color: var(--lexicons0);
}
/*>>>>>>>>>>>>>>>>>>>>>>>SELECTOR LENGUAJE<<<<<<<<<<<<<<<<<<<<<<*/
.contenedor-selector-leng {
  align-self: flex-end;
  height: 100%;
  margin-left: 3rem;
  padding: 0 1rem 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.menu-item-vertical-line {
  width: 1px !important;
  height: 2rem;
  margin-right: 1rem;

  border-left: 1px solid var(--interface1);
}
#selector-leng {
  margin-left: 1px;
}
button.selector-lenguaje {
  color: var(--interface1) !important;
  text-align: center;
  font-size: 0.6666rem !important;
  font-weight: 500 !important;
  background-color: white;
  padding: 0 0.3rem;
  margin-right: 0;
  align-self: stretch;
  min-width: 1.77rem;
}
button.selector-lenguaje:hover {
  color: var(--interface0) !important;
  text-decoration: none;
  font-size: 0.6666rem !important;
  font-weight: 700 !important;
}
button.selector-lenguaje-activo {
  /*Esta clase es para que cambie el selector e indique en que posición está (Español o Inglés)*/
  color: var(--interface0) !important;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 800;
  cursor: not-allowed;
  background-color: white;
  padding: 0 0.3rem;
  align-self: stretch;
  margin-left: 0;
  min-width: 1.77rem;
}
button.selector-lenguaje-activo:hover {
  text-decoration: none;
  font-weight: 800;
  cursor: not-allowed;
}

p.divisor-selector-lenguaje {
  margin: 0 3px;
  padding: 0;
  color: var(--interface1);
}

/*--------------------------------Estaticas---------------------------------*/
h1.titulo-estaticas {
  text-align: right;
}
h2.titulo-estaticas {
  color: var(--gris1);
}
h3.titulo-estaticas {
  color: var(--gris1);
}
h4.titulo-estaticas {
  color: var(--gris1);
}
h5.titulo-estaticas {
  color: var(--gris1);
}
h6.titulo-estaticas {
  color: var(--gris1);
}

.contenedor-titulo-estaticas {
  border-right: 1px solid var(--interface1);
  margin-top: 2rem;
  position: sticky; /*titulo lateral pegajoso hacia arriba*/
  top: 1rem;
}

/*--------------------------------FOOTER---------------------------------*/

footer {
  width: 100%;
  height: 3.1667rem;
  background-color: white;
  border-bottom: 6px solid var(--interface0);
  padding: 0;
  box-shadow: 0px -3px 6px #00000029;
  -webkit-box-shadow: 0px -3px 6px #00000029;
  -moz-box-shadow: 0px -3px 6px #00000029;
  margin-top: 1rem;
}

.nav-footer {
  max-width: 1020px;
  height: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
a.footer-item {
  padding: 0 0.5rem;
  font-size: 0.6666rem;
  text-align: center;
  font-weight: 400 !important;
  color: var(--negro) !important;
}

a.footer-item:hover {
  font-weight: 600 !important;
  color: var(--interface0) !important;
}

#logo-neh {
  height: 1.7777rem;
  width: auto;
}
#logo-neh-a {
  margin: 0;
  padding: 0;
  height: 2rem; /*Compensa una inconsistencia del vinculo de la imagen*/
}
p.footer-item {
  display: block;
  font-size: 0.6666rem;
  font-weight: 400;
  padding: 0 0 0 0.8rem;
  margin: 0;
}
.footer-item:last-of-type {
  padding: 0 0 0 0rem;
}
#drako-estudio-logo {
  height: 2.1rem;
  width: auto;
}
#link-drako-estudio {
  color: var(--negro);
  padding-left: 0.3rem !important;
  width: 5.2rem;
}
.contenedor-footer-item-developed-by {
  display: flex;
  align-items: center;
}
